<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Expire:</strong>
  <%= @goal.expire %>
</p>

<%= link_to 'Edit', edit_user_goal_path(@goal.user_id, @goal.id) %> |
<%= link_to 'Back', user_goals_path %>
